
target/
.classpath
.project
# > ignore all eclipse settings by default
.settings
# > except the following, primarily for formatting purposes
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.jdt.ui.prefs
!.settings/org.eclipse.wst.html.core.prefs
# > other misc eclipse artifacts
.springBeans
bin
