<md-card >
  <md-card-title>New Project</md-card-title>

  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
      <md-input-container floatingPlaceholder=true style="width: 100%">
          <input md-input placeholder="Name" formControlName="name">
      </md-input-container>
      <md-input-container floatingPlaceholder=true style="width: 100%">
          <input md-input placeholder="Repository URL" formControlName="repoUrl">
      </md-input-container>
      <md-input-container floatingPlaceholder=true style="width: 100%">
          <input md-input placeholder="Site URL" formControlName="siteUrl">
      </md-input-container>
      <md-input-container floatingPlaceholder=true style="width: 100%">
          <input md-input placeholder="Category" formControlName="category">
      </md-input-container>
      <md-input-container floatingPlaceholder=true style="width: 100%">
          <textarea md-input placeholder="Description" formControlName="description"></textarea>
      </md-input-container>
      <p>
          <button md-raised-button color="primary"  type="submit" [disabled]="!form.valid">Submit</button>
      </p>
    </form>
  </md-card-content>
</md-card >
