<md-card >
 <md-card-content>
  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Publish At</th>
      <th>Category</th>
    </tr>
    <tr *ngFor="let blogPost of blogPosts">
      <td><a [routerLink]="[blogPost.id]">{{ blogPost.title }}</a></td>
      <td>{{blogPost.renderContent}}</td>
      <td>{{blogPost.publishAt | date}}</td>
      <td>{{blogPost.category}}</td>
    </tr>
  </table>
 </md-card-content>
 <md-card-actions>
      <button md-button [routerLink]="'action/new'">Create New Post</button>
 </md-card-actions>
</md-card>
<router-outlet></router-outlet>
