<md-card >
  <md-card-title>List</md-card-title>

  <a [routerLink]="'action/new'">Create new</a>

  <table>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Publish At</th>
      <th>Category</th>
    </tr>
    <tr *ngFor="let blogPost of blogPosts">
      <td><a [routerLink]="[blogPost.id]">{{ blogPost.title }}</a></td>
      <td>{{blogPost.renderContent}}</td>
      <td>{{blogPost.publishAt | date}}</td>
      <td>{{blogPost.category}}</td>
    </tr>
  </table>

</md-card>
<router-outlet></router-outlet>
