<md-card >
 <md-card-content>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Repo URL</th>
      <th>Site URL</th>
      <th>Description</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td><a [routerLink]="[project.id]">{{ project.name }}</a></td>
      <td>{{project.repoUrl}}</td>
      <td>{{project.siteUrl}}</td>
      <td>{{project.description}}</td>
      <td>{{project.category}}</td>
    </tr>
    </tbody>
  </table>
  </md-card-content>
  <md-card-actions>
        <button md-button [routerLink]="'action/new'">Create New Project</button>
   </md-card-actions>
</md-card>
<router-outlet></router-outlet>
