<md-card >
  <md-card-title>New Blog Post</md-card-title>

  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <p>
            <label>Title</label>
            <input type="text" formControlName="title">
        </p>
        <p>
            <label>Content</label>
            <input type="text" formControlName="rawContent">
        </p>
        <p>
            <label>Public Slug</label>
            <input type="text" formControlName="publicSlug">
        </p>
        <p>
            <label>Draft</label>
            <input type="text" formControlName="draft">
        </p>

        <p>
          <label>Category</label>
          <select formControlName="category">
            <option value="ENGINEERING">Engineering</option>
            <option value="RELEASES">Releases</option>
            <option value="NEWS_AND_EVENTS">News and Events</option>
          </select>
        </p>
        <p>
            <label>Broadcast</label>
            <input type="text" formControlName="broadcast">
        </p>
        <p>
            <label>Publish At</label>
            <ng2-datepicker formControlName="publishAt"></ng2-datepicker>
          
        </p>

        <p>
            <button type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </form>
  </md-card-content>
</md-card >
