<md-card >
  <md-card-title>New Blog Post</md-card-title>

  <md-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <md-input-container floatingPlaceholder=true style="width: 100%">
            <input md-input placeholder="Title" formControlName="title">
        </md-input-container>
        <md-input-container floatingPlaceholder=true style="width: 100%">
            <textarea md-input placeholder="Content" formControlName="rawContent"></textarea>
        </md-input-container>
        <md-input-container floatingPlaceholder=true style="width: 100%">
            <input md-input placeholder="Public Slug" formControlName="publicSlug">
        </md-input-container>
        <p style="width: 100%">
          <md-select placeholder="Category" formControlName="category" style="width: 100%">
            <md-option value="ENGINEERING">Engineering</md-option>
            <md-option value="RELEASES">Releases</md-option>
            <md-option value="NEWS_AND_EVENTS">News and Events</md-option>
          </md-select>
        </p>
        <md-checkbox color="primary" formControlName="draft" [checked]="true">
          Draft
        </md-checkbox>
        <md-checkbox color="primary" formControlName="broadcast" [checked]="true">
          Broadcast
        </md-checkbox>


        <p style="width: 100%">
            <label>Publish At</label>
            <ng2-datepicker formControlName="publishAt"></ng2-datepicker>
        </p>

        <p>
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </p>
    </form>
  </md-card-content>
</md-card >
